* {
    margin: 0;
    padding: 0;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
    letter-spacing: 1px
}

.main {
    overflow-x: hidden;
}

#header {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
    text-align: center;
}

#header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/bodypaint.jpg') bottom/cover;
    /* Replace with your background image path */
    z-index: -1;
    /* Place the overlay behind the content */
    background-attachment: fixed;

}
.fade-container {
    /* position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  .fade-container img {
    margin-top: 20rem; /* Optional: Add border-radius for rounded corners */
  }

  .fade-container p {
    text-align: center;
    margin: 20px 0;
    color: rgb(172, 172, 172);
    font-size: 1.5rem;
    font-weight: 500;
  }

  .fade-out {
    opacity: 0;
  }

  /* #nav-container{
    display: none;
  } */
.navbar-legendary {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100vw;
    height: 60px;
    -webkit-box-shadow: 0 4px 6px -6px #636161;
    -moz-box-shadow: 0 4px 6px -6px #b4b0b0;
    box-shadow: 0 4px 6px -6px #222;
    /* padding: 1rem; */
    color: white;
    background: white;
}

.navbar .navbar-brand {
    font-size: 2rem;
    color: black;
    font-weight: 800;
    margin-left: 5rem;
}

.navbar .navbar-nav {
    font-size: 15px;
}

.navbar .navbar-nav li a {
    color: black;
    font-weight: 400;
}
/* #about:target + #nav-container{
    display: block;
} */
#about {
    width: 100vw;
    height: auto;
    /* padding-top: 6rem; */
    position: relative;
    overflow: hidden;
    color: black;
}

#about::before {
    content: "";
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    /* background: linear-gradient(rgba(19, 8, 8, 0.5), rgba(41, 41, 41, 0.5)), url('./images/wallhaven-95qmk1.jpg') bottom/cover; */
    /* Replace with your background image path */
    z-index: -1;
    /* Place the overlay behind the content */
    background-attachment: fixed;
    filter: brightness(70%);


}

.section-heading {
    text-transform: uppercase;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 3rem;
}

#about .row {
    padding: 5rem;
}

#about .row h5 {
    font-size: 2rem;
}

#services {
    width: 100vw;
    height: 100vh;
    /* padding-top: 6rem; */
    position: relative;
    overflow: hidden;
    color: white;
}

#services::before {
    content: "";
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/wp9878268.jpg') center/cover;
    /* Replace with your background image path */
    z-index: -1;
    /* Place the overlay behind the content */
    background-attachment: fixed;
    filter: brightness(40%);

}

 .brand {
    text-align: center;
    text-transform: uppercase;

}

 .brand a {
    text-decoration: none;
    color: #bbbaba;
    
}

 .brand a i {
    font-size: 4rem;
}

 .brand span {
    font-size: 20px;
    font-weight: 400;
}
.service-head-tags{
    margin-bottom: 5rem;
}
.services-desc{
    padding: 10px;
    
}
.services-desc .service-para{
    font-size: 15px;
}

#work{
    width: 100vw;
    height: auto;
    overflow: hidden;
    margin-bottom: 10rem;
}
.container-work {
    position: relative;
    width: 50%;
    cursor: pointer;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #af997f;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .container-work:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    color: white;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text span{
    font-size: 15px;
    font-weight: 300;
  }
  .button-style{
    text-align: center;
  }
  .button-style button{
    background-color: #af997f;
    border: none;
    border-radius: 40px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button-style button:hover{
    background-color: black;
    color: white;
  }
  #process{
    width: 100vw;
    height: auto;
    overflow: hidden;
    color: white;
    padding-bottom: 6rem;
   
  }
  #process::before {
    content: "";
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(19, 8, 8, 0.5), rgba(41, 41, 41, 0.5)), url('./images/process-bg.jpg') bottom/cover;
    /* Replace with your background image path */
    z-index: -1;
    /* Place the overlay behind the content */
    background-attachment: fixed;
    filter: brightness(40%);

}
.carousel {
    width: 1000px; /* Set your desired width */
    height: 350px; /* Set your desired height */
    margin-left: 0px;
    
}

/* Adjust the width and height of the carousel items */
.carousel-item {
    width: 100%; /* Set to 100% to fill the container width */
    height: 100%; /* Set to 100% to fill the container height */
    /* object-fit: cover; Maintain aspect ratio and cover the container */
    position: relative;
}
.carousel .carousel-indicators{
    margin-bottom: 23rem;
}
.carousel .desc-bar{
    position: absolute;
    width: 300px;
    height: 150px;
    background-color:#af997f ;
    color: white;
    top:8rem;
    right: 0;
    padding-top: 2rem;
    padding-left: 2rem;
    font-size: 17px;
    
}

#news{
    width: 100%;
    height: auto;
    overflow: hidden;
    color: white;
    padding-bottom: 3rem;
   
  }
  #news::before {
    content: "";
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(19, 8, 8, 0.5), rgba(41, 41, 41, 0.5)), url('./images/new-bg.jpg') bottom/cover;
    /* Replace with your background image path */
    z-index: -1;
    /* Place the overlay behind the content */
    background-attachment: fixed;
    filter: brightness(40%);

}
.news-div{
    width: 600px;
    height: 400px;
    background-color: white;
    position: relative;
    margin-bottom: 2rem;
}
.news-div img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.desc-bar-news{
    position: absolute;
    width: 200px;
    height: 110px;
    background-color:#af997f ;
    color: white;
    top:8rem;
    right: 0;
    padding-top: 2rem;
    padding-left: 2rem;
    font-size: 17px;
}
.desc-bar-news h3{
    font-size: 1rem;
}
.desc-bar-news p{
    font-size: 2rem;
}
#contact{
    width: 100vw;
    height: auto;
    text-align: center;
}
#contact .contact-form  .form-form{
    margin-left: 13rem;
}
#contact .contact-form form .form-floating{
    width: 900px;
    height: 70px;
    background-color: black;
    border-radius: 80px;
    text-align: center;
}
#contact .contact-form form .form-floating .form-control{
    border-radius: 80px;
    height: 70px;
    background-color: black;
    border: none;
}
#contact .contact-form form .form-floating label{
    color: white;
    padding-left: 2rem;
}
.contact-icons{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.contact-icons i{
    font-size: 4rem;
}
.contact-links .container-work {
    position: relative;
    /* width: 50%; */
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    cursor: pointer;
  }
  .contact-links .container-work span i{
    font-size: 2rem;
  }
  #footer-foot{
    width: 100vw;
    height: 400px;
    overflow: hidden;
    color: white;
  }
  #footer-foot::before{
    content: "";
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(19, 8, 8, 0.5), rgba(41, 41, 41, 0.5)), url('./images/footer-bg.jpg') bottom/cover;
    /* Replace with your background image path */
    z-index: -1;
    /* Place the overlay behind the content */
    background-attachment: fixed;
    filter: brightness(40%);
  }
  .footer-content{
    text-align: center;
  }
  #footer-foot img{
    margin-top: 4rem;
    width: 300px;
  }
  .top-arrow{
    width: 60px;
    height: 60px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 3rem;
    margin-left: 39rem;
  }








@media(max-width:600px) {
    #header img {
        margin-top: 15rem;
        width: 390px;
    }

    #header p {
        font-size: 0.8rem;
        font-weight: 500;
    }

    #about img {
        width: 300px;
    }

    #services .brand a i {
        font-size: 2rem;
    }

    #services .brand span {
        font-size: 15px;
    }
    .services-desc{
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 5rem;
    }
    .service-para{
        font-size: 1.2rem;
    }
    .service-para-desc{
        font-size: 15px;
    }

}